.button {
  display: block;
  width: 100%;
}
.gif-container {
  position: relative;
}
.caption {
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  -ms-word-break: break-all;
  word-break: break-all;
  text-shadow: 1px 1px 3px #000;
}
img,
app-create {
  display: block;
  width: 100%;
}
